body {
    margin: 0;
    background-color: #000000;
    color: #00ff00;
    font-family: monospace;
    font-size: 16px;
}

.container {
    width: 100%;
    height: 100%;
}

.terminal {
    margin: 0 auto;
    padding: 1em;
    max-width: 50em;
    max-height: 100em;
}

#terminal-prompt {
    margin-top: 2em;
}

#terminal-prompt:before {
    content: " > ";
}

#terminal-input {
    padding-left: 1em;
    max-width: 100%;
    background: transparent;
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
}


#terminal-input:focus {
    outline: none;
}
